<.header>
  New Pendidikan
  <:subtitle>Use this form to manage pendidikan records in your database.</:subtitle>
</.header>

<.pendidikan_form changeset={@changeset} action={~p"/pendidikans"} />

<.back navigate={~p"/pendidikans"}>Back to pendidikans</.back>
