<.header>
  New Organisaion
  <:subtitle>Use this form to manage organisaion records in your database.</:subtitle>
</.header>

<.organisaion_form changeset={@changeset} action={~p"/org"} />

<.back navigate={~p"/org"}>Back to org</.back>
