<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:hobi1]} type="text" label="Hobi1" />
  <.input field={f[:hobi_lain]} type="text" label="Hobi lain" />
  <:actions>
    <.button>Save Hobbie</.button>
  </:actions>
</.simple_form>
