<.header>
  New Hobbie
  <:subtitle>Use this form to manage hobbie records in your database.</:subtitle>
</.header>

<.hobbie_form changeset={@changeset} action={~p"/hobbies"} />

<.back navigate={~p"/hobbies"}>Back to hobbies</.back>
